body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ebebeb;
}

.inner-page {
  color: #000000;
}

a {
  text-decoration: none;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:focus {
  color: #000000;
  opacity: 0.3;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #766357;
}

.welcome {
  background-image: url("../img/intro/bg_intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.about-intro-name {
  font-size: 21px;
}

.feature-title {
  color: #333333;
}

.lead {
  font-size: 30px;
  line-height: 36px;
}

.search-title-name {
  line-height: 24px;
  color: #333333;
}

.search-place {
  font-size: 21px;
  color: #ffffff;
  background-color: #766458;
}

.search-place:focus {
  color: #918883;
  background-color: #513e33;
}

.search-place:hover {
  background-color: #614F44;
}

.search-item input,
.search-item-number input {
  line-height: 16.8px;
  text-transform: uppercase;
  color: #000000;
}

.search-item input,
.search-item-number input {
  background-color: #f1f1f1;
}

input:hover {
  background-color: #ebebeb;
}

input:focus {
  background-color: #ffffff;
}

.number-adults-less,
.number-adults-more,
.number-children-less,
.number-children-more {
  color: #a9a9a9;
}

.number-adults-less:focus,
.number-adults-more:focus,
.number-children-less:focus,
.number-children-more:focus {
  color: #81b3d2;
}

.number-adults-less:hover,
.number-adults-more:hover,
.number-children-less:hover,
.number-children-more:hover {
  color: #000000;
}

button[type="submit"] {
  font-size: 21px;
  line-height: 25.2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

button[type="submit"]:focus {
  color: #93b8d2;
  background-color: #5595bd;
}

button[type="submit"]:hover {
  background-color: #679dc0;
}

.catalog {
  text-align: left;
}

.catalog-list {
  list-style: none;
}

.catalog-item-addition {
  text-align: right;
}

.catalog-item-title,
.catalog-item-info,
.catalog-item-push,
.catalog-item-rating {
  list-style: none;
}

.catalog-item-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item-title a {
  color: #000000;
}

.catalog-item-title a:focus {
  color: #c9c9c9;
}

.catalog-item-title a:hover {
  color: #81b3d2;
}

.catalog-item-info {
  line-height: 21px;
  color: #333333;
}

.catalog-item-push {
  line-height: 21px;
  color: #ffffff;
}

.catalog-item-push a {
  color: #ffffff;
}

.button-more {
  background-color: #81b3d2;
}

.button-more:focus {
  color: #93b8d2;
  background-color: #5595bd;
}

.button-more:hover {
  background-color: #679dc0
}

.button-book {
  background-color: #766458;
}

.button-book:focus {
  color: #918883;
  background-color: #513e33;
}

.button-book:hover {
  background-color: #614f44;
}

.catalog-item-rating {
  line-height: 21px;
  color: #666666;
  background-color: #f1f1f1;
}

.footer-main,
.footer-inner {
  background-color: #ffffff;
  opacity: 0.9;
}

.photo-link {
  font-size: 21px;
  text-align: left;
  color: #000000;
}

.photo-link a {
  color: #000000;
}

.social {
  list-style: none;
}

.social a {
  color: #ffffff;
  background-color: #81b3d2;
}

.social a:focus {
  color: #88b5d1;
  background-color: #5595bd;
}

.social a:hover {
  background-color: #679dc0;
}

.courses-link {
  text-align: right;
}

.courses-link a {
  color: #000000;
}

a svg:focus #logo-htmlacademy {
  fill: #bdbbbb;
}

a svg:hover #logo-htmlacademy {
  fill: #81b3d2;
}
