body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ebebeb;
}

a {
  text-decoration: none;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: inherit;
}

.navigation-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #766357;
}

.welcome {
  background: url("../img/intro/bg_intro.jpg") no-repeat center;
}

.about-intro-name {
  font-size: 21px;
}

.feature-title {
  color: #333333;
}

.lead {
  font-size: 30px;
  line-height: 36px;
}

.search-title-name {
  line-height: 24px;
  color: #333333;
}

.search-place {
  font-size: 21px;
  color: #ffffff;
  background-color: #766458;
}

.search-place:focus {
  color: #918883;
  background-color: #513e33;
}

.search-place:hover {
  background-color: #614F44;
}

.search-item input,
.search-item-number input {
  text-transform: inherit;
  background-color: #f1f1f1;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
}

.number-adults-less,
.number-adults-more,
.number-children-less,
.number-children-more {
  color: #a9a9a9;
}

.number-adults-less:focus,
.number-adults-more:focus,
.number-children-less:focus,
.number-children-more:focus {
  color: #81b3d2;
}

.number-adults-less:hover,
.number-adults-more:hover,
.number-children-less:hover,
.number-children-more:hover {
  color: #000000;
}

button[type="submit"] {
  font-size: 21px;
  text-transform: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

button[type="submit"]:focus {
  color: #93b8d2;
  background-color: #5595bd;
}

button[type="submit"]:hover {
  background-color: #679dc0;
}

.catalog {
  text-align: left;
}

.catalog-list {
  list-style: none;
}

.catalog-item-addition {
  text-align: right;
}

.catalog-item-title,
.catalog-item-info,
.catalog-item-push,
.catalog-item-rating {
  list-style: none;
}

.catalog-item-title {
  font-size: 21px;
}

.catalog-item-title a {
  color: inherit;
}

.catalog-item-title a:focus {
  color: #c9c9c9;
}

.catalog-item-title a:hover {
  color: #81b3d2;
}

.catalog-item-info {
  line-height: 21px;
  color: #333333;
}

.catalog-item-push {
  line-height: 21px;
  color: #ffffff;
}

.catalog-item-push a {
  color: #ffffff;
}

.button-more {
  background-color: #81b3d2;
}

.button-more:focus {
  color: #93b8d2;
  background-color: #5595bd;
}

.button-more:hover {
  background-color: #679dc0
}

.button-book {
  background-color: #766458;
}

.button-book:focus {
  color: #918883;
  background-color: #513e33;
}

.button-book:hover {
  background-color: #614f44;
}

.catalog-item-rating {
  line-height: 21px;
  color: #666666;
  background-color: #f1f1f1;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.photo-link {
  font-size: 21px;
  text-align: left;
}

.photo-link a {
  color: inherit;
}

.social {
  list-style: none;
}

.social a {
  color: #ffffff;
  background-color: #81b3d2;
}

.social a:focus {
  color: #88b5d1;
  background-color: #5595bd;
}

.social a:hover {
  background-color: #679dc0;
}

.courses-link {
  text-align: right;
}

.courses-link a {
  color: inherit;
}

.website-logo:focus svg {
  fill: #bdbbbb;
}

.website-logo:hover svg {
  fill: #81b3d2;
}

/* ----------------------- Сеточные стили ------------------------- */
.header {
  margin-bottom: 61px;
}

.conteiner {
  display: flex;
  justify-content: space-around;
}

.navigation {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header-logo {
  width: 138px;
  height: 71px;
}

.welcome {
  padding: 0;
  margin: 0 auto;
  min-height: 572px;
}

.welcome-to {
  width: 458px;
  height: 352px;
  margin-bottom: 145px;
  margin: 0 auto;
}

.about-intro {
  width: 1200px;
  min-height: 216px;
  margin: 0 auto;
  background: #ffffff;
}

.about-intro-name {
  width: 637px;
  min-height: 43px;
  margin-bottom: 40px;
  margin-left: 283px;
}

.feature-title {
  width: 536px;
  margin-left: 333px;
}

.search-title {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

.search-place {
  width: 568px;
  margin: 0 auto;
}

.wrapper-search {
  width: 568px;
  margin: 0 auto;
  margin-bottom: 55px;
  background: #ffffff;
}

.footer .conteiner {
  width: 1200px;
  margin: 0 auto;
  margin-top: 78px;
  padding: 36px 0;
  display: flex;
}

.photo-link {
  width: 154px;
  margin: 0px;
  margin-right: 248px;
}

.footer-social {
  width: 162px;
  margin: 0px;
}

.courses-link {
  width: 202px;
  margin: 0px;
  margin-left: 224px;
}

.catalog {
  width: 1200px;
  margin: 0px auto;
  background-color: #ffffff;

}

.catalog-item {
  display: flex;
  justify-content:
  margin-bottom: 61px;
  list-style: none;
}

.catalog-item-description {
  margin-left: 30px;
}

.catalog-item-addition {
  margin-left: 539px;
}
